/* Reset básico */
body,
h1,
h2,
p,
label,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
}

.cabecalho {
  background-color: #3fa9f5;
  color: #f4faff;
  text-align: center;
  padding: 20px;
  position: relative;
}

.slogan {
  margin: 5px 0 15px;
  font-size: 18px;
}

.menu-navegacao {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.menu-navegacao a {
  color: #f4faff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-navegacao a:hover {
  color: #1a2e40;
}

h1 {
  text-align: center;
  color: #007bff; /* Azul chamativo */
  margin: 20px;
}

#curso-selecionado {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 25px;
  color: #000000;
}

#nome-curso {
  color: #007bff;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f4faff; /* Azul bem clarinho de fundo */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.15);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #0056b3;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #cce5ff;
  border-radius: 5px;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

#curso-selecionado {
  font-size: 1.4rem;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

#nome-curso {
  color: #007bff;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
